<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link href='//fonts.googleapis.com/css?family=RobotoDraft:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en' rel='stylesheet' type='text/css'>
    <title>Zeus</title>
  </head>
  <body>
    <br>
    <div class="container">{{ range $w := .Values}}
      <div class="panel panel-default">
	<div class="panel-body">
	  {{with $w.Data.Error}}<b>Error: </b>{{$e := index . 0 }}{{printf "%s" $e}}<br>{{end}}
	  {{$l := len $w.Data.Request}}{{if gt $l 0}}{{$elem := index $w.Data.Request 0 }}
	  <b>{{$elem.City}}</b><br>
	  <div class="mono-font">
	  Maximum: {{$weather := index $w.Data.Weather 0}}{{$weather.MaxC}}&#176;C<br>
	  Minimum: {{$weather.MinC}}&#176;C<br>
	  {{end}}
	  </div>
	</div>
      </div>         
      {{ end }}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
